table {
  margin-top: 2rem;

  width: 100%;

  .mat-row {
    min-width: 20rem;

    &:hover {
      background-color: aliceblue;
    }

    .actions {
      display: block;
      margin-left: auto;
    }
  }
}
