<footer>
  <div class="top">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo">
    </div>
    <div class="links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Menu</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </div>
    <div class="socials">
      <a href="#"><mat-icon>facebook</mat-icon></a>
      <a href="#"><mat-icon>whatsapp</mat-icon></a>
      <a href="#"><mat-icon>telegram</mat-icon></a>
    </div>
  </div>
  <mat-divider ></mat-divider>
  <div class="bot">Copyright @2021 What2Eat</div>
</footer>
