.mat-dialog-actions {
  display: flex;
  align-items: center;

  > * {
    height: 5rem;
  }

  .example-form-field {
    width: 10rem;

    margin-right: 1rem;

    .mat-form-field-underline {
      display: none;
    }
  }
}
