<mat-toolbar color="primary">
  <a [routerLink]="'/'">
    <img src="../../../assets/logo.png" alt="logo">
  </a>
  <span class="example-spacer"></span>

  <app-loader *ngIf="(isUserLoading$ | async); else buttons"></app-loader>

 <ng-template #buttons>
   <div class="buttons" *ngIf="(user$ | async)">
     <button
       mat-icon-button class="example-icon favorite-icon"
       aria-label="Example icon-button with heart icon"
       [routerLink]="'/shopping-cart'"
       *ngIf="(user$ | async)?.role !== 'admin'"
     >
       <mat-icon [matBadge]="(order$ | async)?.totalAmount" matBadgeColor="warn">shopping_cart</mat-icon>
     </button>
     <button
       mat-icon-button
       class="example-icon favorite-icon"
       aria-label="Example icon-button with heart icon"
       [routerLink]="'/auth'"
       (click)="logout()"
     >
       <mat-icon>logout</mat-icon>
     </button>
   </div>
 </ng-template>
</mat-toolbar>
