<section>
  <mat-grid-list cols="4" gutterSize="2rem">
    <mat-grid-tile>
      <app-dishes-item></app-dishes-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-dishes-item></app-dishes-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-dishes-item></app-dishes-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-dishes-item></app-dishes-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-dishes-item></app-dishes-item>
    </mat-grid-tile>
  </mat-grid-list>
</section>
